
  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a  [routerLink]="['/Admin']"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a   [routerLink]="['/Admin']">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
       
        <li class="treeview" [class.menu-open]="ChartExpand">
          <a (click)="ChartExpand=!ChartExpand">
            <i class="fa fa-pie-chart"></i>
            <span>WMS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu"  [style.display]="ChartExpand ? 'block' : 'none'">
              <li class="treeview" [class.menu-open]="SettingSubExpand">
                  <a  (click)="SettingSubExpand=!SettingSubExpand"><i class="fa fa-circle-o"></i> Project Management
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu" [style.display]="SettingSubExpand ? 'block' : 'none'">
            
                      <li class="treeview"  [class.menu-open]="SettingSubThirdExpand">
                          <a (click)="SettingSubThirdExpand=!SettingSubThirdExpand"><i class="fa fa-circle-o"></i> Project Approval
                            <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                            </span>
                          </a>
                          <ul class="treeview-menu"  [style.display]="SettingSubThirdExpand ? 'block' : 'none'">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Create Project</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Approval Workflow</a></li>
                          </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>Project Processing</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>Project Guidelines</a></li>
                  </ul>
                </li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Purchasing </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Receiving </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Wip</a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Warehouse </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Reporting </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Admin </a></li>
          </ul>
        </li>
        <li class="treeview"  [class.menu-open]="ReportExpand">
          <a (click)="ReportExpand=!ReportExpand">
            <i class="fa fa-table"></i> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu"   [style.display]="ReportExpand ? 'block' : 'none'">
            <li><a href="../tables/simple.html"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
            <li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Grading Guidelines </a></li>
          </ul>
        </li>


        <li class="treeview"  [class.menu-open]="SalesOrderExpand">
          <a (click)="SalesOrderExpand=!SalesOrderExpand">
            <i class="fa fa-table"></i> <span>Sales Order</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu"   [style.display]="SalesOrderExpand ? 'block' : 'none'">
            <li><a [routerLink]="['SalesOrder']"><i class="fa fa-circle-o"></i> Sales Order</a></li>
            <li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Grading Guidelines </a></li>
          </ul>
        </li>

      
        <li class="treeview"  [class.menu-open]="SettingExpand">
          <a  (click)="SettingExpand=!SettingExpand">
            <i class="fa fa-share"></i> <span>Setting</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu"  [style.display]="SettingExpand ? 'block' : 'none'">
            
              <li class="treeview"  [class.menu-open]="ItemsExpand">
                  <a  (click)="ItemsExpand=!ItemsExpand">
                    <i class="fa fa-edit"></i> <span>Administrative Functions</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu" [style.display]="ItemsExpand ? 'block' : 'none'">
                    <li><a [routerLink]="['Category']"><i class="fa fa-circle-o"></i> Carton</a></li>
                    <li><a [routerLink]="['Brand']"><i class="fa fa-circle-o"></i> Pallet</a></li>
                    <li><a [routerLink]="['Product']"><i class="fa fa-circle-o"></i> Trailer</a></li>
                    <li><a [routerLink]="['Product']"><i class="fa fa-circle-o"></i> Roles</a></li>
                  </ul>
                </li>

            <li class="treeview" [class.menu-open]="SettingSubExpand">
              <a  (click)="SettingSubExpand=!SettingSubExpand"><i class="fa fa-circle-o"></i> Users
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" [style.display]="SettingSubExpand ? 'block' : 'none'">

                  <li class="treeview"  [class.menu-open]="SettingSubThirdExpand">
                      <a (click)="SettingSubThirdExpand=!SettingSubThirdExpand"><i class="fa fa-circle-o"></i> Roles
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                      </a>
                      <ul class="treeview-menu"  [style.display]="SettingSubThirdExpand ? 'block' : 'none'">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Menu</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Pages</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Controls</a></li>
                      </ul>
                    </li>
              </ul>
            </li>
          </ul>
        </li>
      
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>