
  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a  [routerLink]="['/Admin']"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a   [routerLink]="['/Admin']">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
       
        <li class="treeview" [class.menu-open]="ChartExpand">
          <a (click)="ChartExpand=!ChartExpand">
            <i class="fa fa-pie-chart"></i>
            <span>WMS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu"  [style.display]="ChartExpand ? 'block' : 'none'">
            <li><a [routerLink]="['PurchaseOrderChart']"><i class="fa fa-circle-o"></i> Project Management </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Purchasing </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Receiving </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Wip</a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Warehouse </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Reporting </a></li>
            <li><a [routerLink]="['SalesOrderChart']"><i class="fa fa-circle-o"></i> Admin </a></li>
          </ul>
        </li>
        <li class="treeview"  [class.menu-open]="ReportExpand">
          <a (click)="ReportExpand=!ReportExpand">
            <i class="fa fa-table"></i> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu"   [style.display]="ReportExpand ? 'block' : 'none'">
            <li><a href="../tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>
        </li>
        <li class="treeview"  [class.menu-open]="ItemsExpand">
          <a  (click)="ItemsExpand=!ItemsExpand">
            <i class="fa fa-edit"></i> <span>Items</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" [style.display]="ItemsExpand ? 'block' : 'none'">
            <li><a [routerLink]="['Category']"><i class="fa fa-circle-o"></i> Category</a></li>
            <li><a [routerLink]="['Brand']"><i class="fa fa-circle-o"></i> Brand</a></li>
            <li><a [routerLink]="['Product']"><i class="fa fa-circle-o"></i> Product</a></li>
          </ul>
        </li>
      
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>