<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
 
  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Category</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                  title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
       
        <div class="example-container mat-elevation-z8">
         
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource"  matSort>
          
              <!-- Position Column -->
              <ng-container matColumnDef="BrandId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.BrandId}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="CategoryName">
                <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.CategoryName}} </mat-cell>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="IsActive">
                <mat-header-cell *matHeaderCellDef mat-sort-header> IsActive </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.IsActive}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          
            <mat-paginator #paginator
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
          </div>

        </div>
        
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>